@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

.sidebar {
    background-color: red;
    width: 15vw;
    
    font-family: 'Roboto', sans-serif;
}

.main {
    background-color: yellow;
    width: 85vw;
}

.container {
    display: flex;
}

.sidebar nav {
    padding: 50px;
}

.sidebar nav li {
    list-style: none;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.infocontainer{
    background-color:skyblue;
    height: 73vh;
    width:75vw;
    margin:130px auto;
    display: flex;

}