@media screen and (max-width:1200px) {
    #profile{
        height: 80vh;
        margin-bottom: 6rem;
    }
    .milaninfo{
        float:left;
    }
    .about_container{
        flex-wrap: wrap;
    }
    #desktop-nav{
        display: none;
    }
    #ham-nav{
        display: flex;
    }
    #experience,.e_details_container{
        margin-top: 2rem;
    }
    #profile , .section_container1{
        display:block;
    }
    .arrow_icon{
        display: none;
    }
    section,
    .section_container1{
        height: fit-content;
    }
    section{
        margin: 0 5%;
    }

    .section_pic_container1{
        width:275px;
        height:275px;
        height: 0 auto 2rem;
    }
    .about_container{
        margin-top:0
    }
    .arrow_button{
        display:none;
    }
    
}
@media screen and (max-width:600px) {
    #contact,footer{
        height: 40vh;
    }
    #profile{
        height: 83vh;
        margin-bottom: 0;
    }
    article{
        font-size: 1rem;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about_container,
    .contact_info_upper_container,
    .btn_container{
        flex-wrap: wrap;
    }
    .contact_info_container{
        margin:0;
    }
    .contact_info_container p,
    .navbar li a{
        font-size: 1rem;
    }
    .e_sub_title{
        font-size: 1.25rem;
    }
    .logo{
        font-size:1.5rem;
    }
    .navbar{
        flex-direction: column;
        gap:0.5rem;
        text-align: center;

    }
    
}
